html, body {
  padding: 0;
  margin: 0;
}

html, body, #cntScheduler {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;
  padding: 0;
}

main, #cntScheduler {
  width: 100%;
}